<div class='pure-g'>
  <% @room.buttons.sort_by{ |b| b.created_at }.each do |button| %>
    <span class='pure-u-1-6 card center'>
      <span class='inner-card center'>
        <% if button.clicked %>

          <% if button.color == 1 %>
            <%= link_to room_button_checkbomb_path(@room,button), method: :post, class:'pure-button green-button green-button-disabled pure-button-disabled' do %>
            <i class="fas fa-2x fa-bomb"></i>
            <% end %>
          <% elsif button.color == 2 %>
            <%= link_to room_button_checkbomb_path(@room,button), method: :post, class:'pure-button red-button red-button-disabled pure-button-disabled' do %>
            <i class="fas fa-2x fa-bomb"></i>
            <% end %>
          <% elsif button.color == 3 %>
            <%= link_to room_button_checkbomb_path(@room,button), method: :post, class:'pure-button blue-button blue-button-disabled pure-button-disabled' do %>
            <i class="fas fa-2x fa-bomb"></i>
            <% end %>
          <% elsif button.color == 4 %>
            <%= link_to room_button_checkbomb_path(@room,button), method: :post, class:'pure-button yellow-button yellow-button-disabled pure-button-disabled' do %>
            <i class="fas fa-2x fa-bomb"></i>
            <% end %>
          <% else %>
            <%= link_to room_button_checkbomb_path(@room,button), method: :post, class:'pure-button black-button-disabled pure-button-disabled' do %>
            <i class="fas fa-2x fa-bomb"></i>
            <% end %>
          <% end %>

        <% else %>

          <% if button.color == 1 %>
            <%= link_to room_button_checkbomb_path(@room,button), method: :post, class:'pure-button green-button' do %>
            <i class="fas fa-2x fa-bomb"></i>
            <% end %>
          <% elsif button.color == 2 %>
            <%= link_to room_button_checkbomb_path(@room,button), method: :post, class:'pure-button red-button' do %>
            <i class="fas fa-2x fa-bomb"></i>
            <% end %>
          <% elsif button.color == 3 %>
            <%= link_to room_button_checkbomb_path(@room,button), method: :post, class:'pure-button blue-button' do %>
            <i class="fas fa-2x fa-bomb"></i>
            <% end %>
          <% elsif button.color == 4 %>
            <%= link_to room_button_checkbomb_path(@room,button), method: :post, class:'pure-button yellow-button' do %>
            <i class="fas fa-2x fa-bomb"></i>
            <% end %>
          <% else %>
            <%= link_to room_button_checkbomb_path(@room,button), method: :post, class:'pure-button' do %>
            <i class="fas fa-2x fa-bomb"></i>
            <% end %>
          <% end %>

        <% end %>
      </span>
    </span>
  <% end %>
</div>
