<script>blocmetrics.report('Room Viewed');</script>
<div class='pure-u-3-4'>
  <h1><%= @room.name %></h1>
  <div class='pure-g'>
    <div class='pure-u-5-5'>
      <% if @room.game_end %>
        <% if @room.players.count == 1 %>
          <h3>You Lost with <%= pluralize(@room.buttons.where(clicked: false).count, 'button') %> left!</h3>
        <% else %>
          <h3><%= @room.last_loser %> Lost!</h3>
        <% end %>
        <!-- Display New Game Button -->
        <% if @room.user == current_user %>
          <%= link_to "Reset Game", room_resetgame_path(@room), method: :post, class:"pure-button pure-button-primary" %>
        <% else %>
          <h5>Waiting to restart</h5>
        <% end %>

        <%= render partial: '/rooms/endgame_buttons', locals: { room: @room } %>

      <% elsif @room.game_start %>
        <!-- Display Buttons -->
        <%= render partial: '/rooms/buttons', locals: { room: @room } %>
      <% else %>
        <!-- Display Start Game Button -->
        <% if (@room.user == current_user) && (@room.players.any?) %>
          <%= link_to "Start Game", room_startgame_path(@room), method: :post, class:"pure-button pure-button-primary" %>
        <% else %>
          <h5>Waiting for players. . .</h5>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class='pure-u-1-4'>
  <% if @room.user == current_user %>
    <%= link_to "Close Room", room_path(@room), method: :delete, data: { confirm: "Are you sure?" }, class:"pure-button" %>
  <% end %>
  <h2>Players</h2>
  <ul style='list-style:none;padding-left:0;'>
    <% @room.players.each do |player| %>
      <li>
        <%= player.user.username %>
      </li>
    <% end %>
  </ul>
  <% if @room.game_start == false %>
    <% if @room.users.include?(current_user) %>
      <%= render partial: '/players/leave', locals: { room: @room } %>
    <% elsif @room.game_start == false %>
      <%= render partial: '/players/join', locals: { room: @room, player: @player } %>
    <% end %>
  <% end %>

</div>
